/* CSS */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


label {
    font-weight: bold;
}

input[type="file"]::file-selector-button {
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #b1b1b1;
    /* Cambia el color de fondo al pasar el mouse */
    /* Agrega otros estilos de hover según sea necesario */
}


.left-section,
.right-section {
    width: 45%;
    padding-left: 2%;
}



.main-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.input-field,
.file-input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-field {
    resize: vertical;
}

.file-input {
    overflow: hidden;
    resize: none;
}

.comprobar-button {
    width: calc(50% - 5px);
    /* Establece el ancho de cada botón */
    padding: 12px;
    /* Aumenta el padding para hacer los botones un poco más altos */
    background-color: #007bff;
    /* Establece el color de fondo azul */
    color: #fff;
    /* Establece el color del texto en blanco */
    border: none;
    /* Quita el borde */
    border-radius: 5px;
    /* Agrega bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    margin-right: 5px;
    /* Espacio entre los botones */
}

.comprobar-button:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último botón */
}






.enviar-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.comprobar-button {
    position: relative;
    z-index: 1;
    background-color: #007bff;
    color: #fff;
}

.comprobar-button:hover {
    background-color: #0056b3;
}

.enviar-button {
    background-color: #28a745;
    color: #fff;
    margin-top: 10px;
    /* Agregar separación entre el input y el botón */
}

.enviar-button:hover {
    background-color: #218838;
}

.info {
    margin-top: 20px;
}

.fixed-buttons {
    position: fixed;
    top: 10%;
    right: 0;
    transform: translateY(-50%);
}

.fixed-buttons a {
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.fixed-buttons a:last-child {
    margin-bottom: 0;
}

.right-section input#preview {
    height: 200px;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Estilos para el popup */
.popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.popup-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.popup-close {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-close:hover {
    background-color: #cc0000;
}

.popup-bg.active {
    display: block;
}

.popup.active {
    display: block;
}


/* CSS adicional para los nuevos botones */
.ayuda-button,
.cancelar-button {
    width: 100%;
    /* El 5px es para el espacio entre los botones */
    padding: 12px;
    /* Aumenta el padding para hacer los botones un poco más altos */
    background-color: #007bff;
    /* Establece el color de fondo azul */
    color: #fff;
    /* Establece el color del texto en blanco */
    border: none;
    /* Quita el borde */
    border-radius: 5px;
    /* Agrega bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

/* Cambia el color de fondo al pasar el mouse sobre los botones */
.ayuda-button:hover,
.cancelar-button:hover {
    background-color: #0056b3;
    /* Color azul oscuro al pasar el mouse */
}

.cancelar-button {
    background-color: red;
}

.h2_ayuda {
    margin: auto;
}



